#PianoRoll {
    background-color: rgba(255, 228, 228, 0);
    width: 100%;
    min-height: 10rem;
    height: 100%;
    overflow-y: scroll;
}

p {
    color: black;
}

.grid {
    position: absolute;
    display: flex;
    z-index: -100;
    flex-direction: row;
    width: 100%;
    height: 100%
}

.gridline {
    display: flex;
    background-color: rgba(240, 248, 255, 0);
    border: 1px dotted rgba(0, 0, 0, 0.186);
    margin-right: -1px;
    width: 100%
}

.bold {
    border-left: 1px solid black;
}


.whitekey, .blackkey {
    display: flex;
    direction: row;
    margin-top: -1px;
    border-top: 1px solid rgb(118, 118, 118);
    height: 20px;
    padding: 0;
}

.blackkey {
    background-color: rgba(203, 203, 203, 0.433);
    color: white;
}

.whitekey {
    background-color: rgba(255, 255, 255, 0.474);
    color: rgb(0, 0, 0);
}
